#calculadora {
    

    height: 75%;
    width: 75%;
    max-width: 450px;
    min-width: 300px;
    max-height: 650px;
    min-height: 450px;

    margin: 3em auto;
    padding: 7px 5px; 
    border: 5px solid #999;
    border-radius: 20px;

    background-image: url(../images/texture_background.png);



    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}
